html {
    /*background: url(../images/old-books.jpg) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.background-image {
    height: 250px;
    width:100%
}
.center-content {
    width: 33%;
    margin: auto;
}

.or-divide {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.or-divide > span {
    position: relative;
    display: inline-block;
}

.or-divide > span:before,
.or-divide > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: black;
}

.or-divide > span:before {
    right: 100%;
    margin-right: 15px;
}

.or-divide > span:after {
    left: 100%;
    margin-left: 15px;
}

#center {
    width: 100%;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.caption {
    position: absolute;
    top: 15%;
    left: 40%;
    width: 100%;
}

.search-bar {
    margin: 10% 274% 10% 174%;
    height: 40px;
    width: 267%;
}

.lib-item {
    width: 50%;
    margin: auto auto 0.5%;
    border-radius: 5%;
    background-color: white;
    color: gray;
    border-color: lightgray;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: lightgray;
    border-color: lightgray;
}
